@import './src/components/base/variables';
@import './src/components/base/mixins';
@import './src/components/base/base';
@import './src/components/header/header';
@import './src/components/header/burger/burger';
@import './src/components/header/logo/logo';
@import './src/components/header/search-form/search-form';
@import './src/components/header/navbar/navbar';
@import './src/components/login-form/login-form';
@import './src/components/button-approve/button-approve';

button {
  @include button-reset;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: calc(100vh);
  background-color: $color-background;
}

.login-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  margin-top: 13.5rem;
  width: 26rem;
  height: 27rem;
  & .login-form-logo {
    position: absolute;
    border-radius: 50%;
    background: $logo-background-color;
    height: 13.3rem;
    width: 13.3rem;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    & .material-icons {
      position: absolute;
      font-size: 10rem;
      color: red;
    }
  }
  & .login-form-wrapper {
    background-color: $form-background-color;
    border: $logo-form-border-color solid 1px ;
    box-sizing: border-box;
    height: 20.5rem;
    display: flex;
    align-items: flex-end;
  }
}


