$main-font-family: Arial, serif;

$color-background: #F2F2F2;
$color-burger: #C4C4C4;
$dropdown-arrow-color: #7D7D7D;
$icon-color: #757575;
$approve-button-bgcolor: #6FCF97;
$approve-button-color: white;
$cancel-button-color: #858585;
$field-border-color: #F3F3F3;
$logo-form-border-color: #E8E8E8;
$logo-background-color: #C4C4C4;
$form-background-color: #FCFCFC;
$register-form-header-color: #BDBDBD;
$register-form-text-color: #858585;
$category-bg-color: white;
$categories-list-bg-color: #E0E0E0;
$card-image-bg-color: $categories-list-bg-color;
$default-font-color: black;
$default-light-font-color: white;
$mini-card-font-color: #4F4F4F;
$cart-delimiter-font-color: #D4D4D4;
$search-border-color: #DDDDDD;
$add-to-cart-button-color: #3CB2F5;
