@media only screen and (max-width: 576px) {
  .header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem;

    &-left-side {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-right-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 11rem;
      color: $icon-color;
    }
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem;

    &-left-side {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-right-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 11rem;
      color: $icon-color;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem;

    &-left-side {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-right-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 11rem;
      color: $icon-color;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem;

    &-left-side {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-right-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 11rem;
      color: $icon-color;
    }
  }
}
