@media only screen and (max-width: 576px) {
  .logo {
    position: relative;
    margin-left: 1rem;
    background: $color-background;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    & .material-icons {
      top: 0.5rem;
      left: 0.5rem;
      position: absolute;
      font-size: 2rem;
      color: red;
    }
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .logo {
    position: relative;
    margin-left: 1rem;
    background: $color-background;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    & .material-icons {
      top: 0.5rem;
      left: 0.5rem;
      position: absolute;
      font-size: 2rem;
      color: red;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    position: relative;
    margin-left: 1rem;
    background: $color-background;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    & .material-icons {
      top: 0.5rem;
      left: 0.5rem;
      position: absolute;
      font-size: 2rem;
      color: red;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .logo {
    position: relative;
    margin-left: 1rem;
    background: $color-background;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    & .material-icons {
      top: 0.5rem;
      left: 0.5rem;
      position: absolute;
      font-size: 2rem;
      color: red;
    }
  }
}
